<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.author -%}
                        {{ site.author | escape }}
                        {%- else -%}
                        {{ site.title | escape }}
                        {%- endif -%}
                    </li>
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col footer-col-2">

                <!--{%- include social.html -%}-->

                &nbsp;&nbsp;&nbsp;&nbsp;

                <a href="https://t.me/cryptonomicanet" title="Cryptonomica Telegram Group" target="_blank"><i class="fa fa-telegram socialLogo"></i></a>&nbsp;

                <a href="https://www.reddit.com/r/cryptonomica/" title="Cryptonomica on Reddit" target="_blank"><i class="fa fa-reddit-alien socialLogo"></i></a>&nbsp;

                <a href="https://www.facebook.com/groups/cryptonomica/" title="Cryptonomica Facebook Group" target="_blank"><i class="fa fa-facebook-f socialLogo"></i></a>&nbsp;

                <a href="https://angel.co/iacc-1" title="Cryptonomica on AngelList" target="_blank"><i class="fa fa-angellist socialLogo"></i></a>&nbsp;

                <a href="https://medium.com/cryptonomica" title="Cryptonomica on Medium" target="_blank"><i class="fa fa-medium socialLogo"></i></a>&nbsp;

            </div>

            <div class="footer-col footer-col-3">
                <p>{{- site.description | escape -}}</p>
            </div>
        </div>

    </div>

</footer>
